body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #d0d0d0;
}
.btn{
    background: #06813b;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0, .3);
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    font-family: cursive;
    overflow: hidden;
    position: relative;
}
.btn span{
position: relative;
z-index: 1;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: orange;
    height: 0px;
    width: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;


}
.btn:hover::before{
    width: 300px;
    height: 300px;
    color:orangered
}